{% extends "base.html" %}

{% block corpo %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for("commesse") }}">Commesse</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      Dettaglio Commessa {{ commessa["durata"]["inizio"][2:4] }}{{ commessa["numero"] }}
      </li>
  </ol>
</nav>

<h5 class="my-2"><strong>{{ commessa["nome"] }} - {{ commessa["cliente"]["nome"] }}</strong>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="my-2 alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if gestione %}
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-success btn-sm my-2" data-bs-toggle="modal" data-bs-target="#chiudi_commesseModal" data-bs-id_commessa="{{ commessa["id"] }}">Chiudi</button>
  <button type="button" class="btn btn-warning btn-sm my-2" data-bs-toggle="modal" data-bs-target="#commesseModal" data-bs-id_commessa="{{ commessa["id"] }}" data-bs-tmp_dati="{{ commessa | replace("'", "\"") | replace("False", "false") | replace("True", "true") }}" data-bs-tipi_lavorazione="{{ tipi_lavorazione | replace("'", "\"") }}">Modifica</button>
  <button type="button" class="btn btn-danger btn-sm my-2" data-bs-toggle="modal" data-bs-target="#eliminacommesseModal" data-bs-id_commessa="{{ commessa["id"] }}">Elimina</button>
</div>
{% endif %}

</h5>
<div class="row">
  <div class="col">
  <p><strong>Tipologia: </strong>
  {% for j in commessa["specifiche"]["tipologia"] %}
    {{ j["nome"] }}
  {% endfor %}
  </p>

  <p><strong>Offerta: </strong>
  {% if commessa["offerta"]["id"] != 0 %}
  <a href="{{ url_for("dettaglio_offerta", id_offerta=commessa["offerta"]["id"]) }}">{{ commessa["offerta"]["numero"] }}</a>
  {% else %}
    {% if gestione %}
    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#collegaOffertaModal" data-bs-id_commessa="{{ commessa["id"] }}">Collega Offerta</button>
    {% endif %}
  {% endif %}
  </p>

  <p><strong>Note: </strong>{{ commessa["note"] }}</p>
  </div>
  <div class="col">
  {% if gestione %}
    <div class="row">
    <div class="col">
      <p><strong>Indicatore Qualità</strong>
      <br>
      Guadagno[€] / OreLavorate
      </p>
    </div>
    <div class="col">
      {% if commessa["specifiche"]["budget_euro"] == 0 %}
      <div class="alert alert-info" role="alert">
        IMPOSSIBILE CALCOLARE IL GUADAGNO
      </div>
      {% else %}
      <img class="" src="/static/{{ commessa["qualita"] }}.svg" alt="" height="120">
      {% endif %}
    </div>
    </div>
  {% endif %}
  </div>
</div>


<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Data apertura</th>
      {% if gestione %}
      <th scope="col">Monte ore contratto</th>
      <th scope="col">Budget [€]</th>
      <th scope="col">Guadagno [€]</th>
      <th scope="col">Ore disponibili</th>
      {% endif %}
      <th scope="col">Project Manager</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ commessa["durata"]["inizio"][8:10] }}/{{ commessa["durata"]["inizio"][5:7] }}/{{ commessa["durata"]["inizio"][0:4] }}</th>
      {% if gestione %}
      {% if commessa["specifiche"]["budget_ore"] == 0 %}
      <td>--</td>
      {% else %}
      <td>{{ commessa["specifiche"]["budget_ore"] }}</td>
      {% endif %}
      {% if commessa["specifiche"]["budget_euro"] == 0 %}
      <td>NESSUN BUDGET IMPOSTATO</td>
      <td>--</td>
      {% else %}
      <td>{{ commessa["specifiche"]["budget_euro"] }}</td>
      <td>{{ commessa["specifiche"]["budget_euro"] - commessa["specifiche"]["euro_spesi"] }}</td>
      {% endif %}

      {% if commessa["specifiche"]["budget_ore"] == 0 %}
      <td>--</td>
      {% else %}
      <td>{{ commessa["specifiche"]["budget_ore"] - commessa["specifiche"]["ore_lavorate"] }}</td>
      {% endif %}
      {% endif %}
      <td>{{ commessa["specifiche"]["project_manager"]["nome"] }}</td>
    </tr>
  </tbody>
</table>
</div>

<hr>

<button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#lavorazioniModal" data-bs-id_commessa="{{ commessa["id"] }}" data-bs-numero_commessa="{{ commessa["numero"] }}" data-bs-tmp_dati="">Inserisci ore</button>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Data inserimento</th>
      <th scope="col">Collaboratore</th>
      <th scope="col">Ore</th>
      <th scope="col">Tipologia</th>
      {% if gestione %}
      <th scope="col">Costo</th>
      {% endif %}
      <th scope="col">Azioni</th>
    </tr>
  </thead>
  <tbody>
  {% for y in commessa["lavorazioni"] %}
    {% if gestione or y["collaboratore"]["id"] == current_user.id %}
    <tr>
      <td>{{ y["durata"]["data"][8:10] }}/{{ y["durata"]["data"][5:7] }}/{{ y["durata"]["data"][0:4] }}</td>
      <td>{{ y["collaboratore"]["nome"] }}
      {% if y["durata"]["trasferta"] %}
      <span class="badge rounded-pill text-bg-info">Trasferta</span>
      {% endif %}
      </td>
      <td>{{ y["durata"]["ore"] }}</td>
      <td>{{ y["tipo"]["nome"] }}</td>
      {% if gestione %}
      <td>{{ y["costo"] }}</td>
      {% endif %}
      <td>
      <div class="btn-group" role="group" aria-label="Azioni">
      <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#lavorazioniModal" data-bs-id_commessa="{{ commessa["id"] }}" data-bs-numero_commessa="{{ commessa["numero"] }}" data-bs-tmp_dati="{{ y | replace("'", "\"") | replace("False", "false") | replace("True", "true") }}">Modifica</button>
      <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#eliminalavorazioniModal" data-bs-id_commessa="{{ commessa["id"] }}" data-bs-tmp_dati="{{ y | replace("'", "\"") | replace("False", "false") | replace("True", "true") }}">Elimina</button>
      </div>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
</div>

<!--Modal per le commesse-->
<div class="modal fade" id="commesseModal" tabindex="-1" aria-labelledby="commesseModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="commesseModalLabel">Inserisci nuova commessa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post">
          <input type="hidden" id="id_form" name="id_form" value="inserisci_commessa">
          <input type="hidden" id="id_commessa" name="id_commessa" value="">
          <div class="row">
          <div class="col">
          <div class="mb-3">
            <label for="nome" class="col-form-label"><strong>Nome Commessa</strong></label>
            <input type="text" class="form-control" id="nome" name="nome">
          </div>
          <div class="mb-3">
            <label for="cliente" class="col-form-label"><strong>Cliente</strong></label>
            <select class="form-select" aria-label="Cliente" id="cliente" name="cliente">
              {% for i in clienti %}
              <option value="{{ i[0] }}">{{ i[1] }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="project_manager" class="col-form-label"><strong>Project Manager</strong></label>
            <select class="form-select" aria-label="Project Manager" id="project_manager" name="project_manager">
              {% for i in utenti %}
              {% if i.collaboratore["ruolo"] == "manager" %}
              <option value="{{i.id}}">{{i.anagrafica["nome"]}} {{i.anagrafica["cognome"]}}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label class="col-form-label"><strong>Tipologia</strong></label>
            {% for i in tipi_lavorazione %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="{{ i[0] }}" id="{{ i[1] }}" name="{{ i[1] }}">
              <label class="form-check-label" for="{{ i[1] }}">{{ i[2] }}</label>
            </div>
            {% endfor %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="0" id="tipo_altro" name="tipo_altro">
              <label class="form-check-label" for="tipo_altro">Altro</label>
            </div>
          </div>
          </div>
          <div class="col">
          <div class="mb-3">
            <label for="data" class="col-form-label"><strong>Data apertura commessa</strong></label>
            <input type="date" class="form-control" id="data" name="data">
          </div>
          <div class="mb-3">
            <label for="ore" class="col-form-label"><strong>Ore disponibili</strong></label>
            <input type="number" inputmode="numeric" class="form-control" id="ore" name="ore">
            <div id="oreHelp" class="form-text">Inserisci il numero di ore, lascia vuoto se non c'è un limite</div>
          </div>
          <div class="mb-3">
            <label for="euro" class="col-form-label"><strong>Budget disponibile</strong></label>
            <input type="number" inputmode="numeric" class="form-control" id="euro" name="euro">
            <div id="euroHelp" class="form-text">Inserisci il numero senza simbolo di €, lascia vuoto se non c'è budget</div>
          </div>
          <div class="mb-3">
            <label for="note" class="col-form-label"><strong>Note</strong></label>
            <textarea class="form-control" id="note" name="note" rows="2"></textarea>
            <div id="noteHelp" class="form-text">Campo libero</div>
          </div>
          </div>
          </div>
          <button type="submit" class="btn btn-warning btn-sm">Inserisci</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal per chiudere commesse-->
<div class="modal fade" id="chiudi_commesseModal" tabindex="-1" aria-labelledby="chiudi_commesseModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="chiudi_commesseModalLabel">Chiudi commessa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>ATTENZIONE: </strong>Non sarà possibile riaprire una commessa chiusa!</p>
        <form method="post">
          <input type="hidden" id="id_form" name="id_form" value="chiudi_commessa">
          <input type="hidden" id="id_commessa" name="id_commessa" value="">
          <div class="mb-3">
            <label for="data" class="col-form-label"><strong>Data chiusura commessa</strong></label>
            <input type="date" class="form-control" id="data" name="data">
          </div>
          <button type="submit" class="btn btn-success btn-sm">Conferma</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal per le lavorazioni-->
<div class="modal fade" id="lavorazioniModal" tabindex="-1" aria-labelledby="lavorazioniModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="lavorazioniModalLabel">Inserisci</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post">
          <input type="hidden" id="id_form" name="id_form" value="inserisci_lavorazione">
          <input type="hidden" id="id_commessa" name="id_commessa" value="">
          <input type="hidden" id="id_lavorazione" name="id_lavorazione" value="">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Data</label>
            <input type="date" class="form-control" id="data" name="data">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Ore</label>
            <input type="number" inputmode="numeric" step="any" class="form-control" id="ore" name="ore">
            <div id="oreHelp" class="form-text">Inserisci il numero es: "3.5" = 3h e 30min</div>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Tipologia</label>
            <select class="form-select" aria-label="Tipologia" id="tipo" name="tipo">
              {% for i in tipi_lavorazione %}
                <option value="{{ i[0] }}">{{ i[2] }}</option>
              {% endfor %}
              <option value="0">Altro</option>
            </select>
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="trasferta" id="trasferta" name="trasferta">
              <label class="form-check-label" for="trasferta">Trasferta</label>
            </div>
          </div>
          <button type="submit" class="btn btn-warning btn-sm">Inserisci</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal eliminare lavorazioni-->
<div class="modal fade" id="eliminalavorazioniModal" tabindex="-1" aria-labelledby="eliminalavorazioniModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="eliminalavorazioniModalLabel">Elimina inserimento</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>ATTENZIONE: </strong>Non sarà possibile recuperare i dati eliminati!</p>
        <form method="post">
          <input type="hidden" id="id_form" name="id_form" value="elimina_lavorazione">
          <input type="hidden" id="id_commessa" name="id_commessa" value="">
          <input type="hidden" id="id_lavorazione" name="id_lavorazione" value="">
          <button type="submit" class="btn btn-danger btn-sm">Elimina</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal eliminare commesse-->
<div class="modal fade" id="eliminacommesseModal" tabindex="-1" aria-labelledby="eliminacommesseModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="eliminacommesseModalLabel">Elimina Commessa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>ATTENZIONE: </strong>Non sarà possibile recuperare i dati eliminati!
        <br>
        Continua solo se la Commessa è stata creata per errore.</p>
        <form method="post">
          <input type="hidden" id="id_form" name="id_form" value="elimina_commessa">
          <input type="hidden" id="id_commessa" name="id_commessa" value="">
          <button type="submit" class="btn btn-danger btn-sm">Elimina</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal collegare offerta-->
<div class="modal fade" id="collegaOffertaModal" tabindex="-1" aria-labelledby="collegaOffertaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="collegaOffertaModalLabel">Collega Offerta</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>ATTENZIONE:</strong> Operazione irreversibile.</p>
        <form method="post">
          <input type="hidden" id="id_form" name="id_form" value="collega_offerta">
          <input type="hidden" id="id_commessa" name="id_commessa" value="">
          <div class="mb-3">
            <label for="message-text" class="col-form-label"><strong>Seleziona Offerta</strong></label>
            <select class="form-select" aria-label="Tipologia" id="id_offerta" name="id_offerta">
              {% for i in offerte %}
                <option value="{{ i["id"] }}">{{ i["numero"] }}</option>
              {% endfor %}
            </select>
          </div>

          <button type="submit" class="btn btn-warning btn-sm">Collega</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
const lavorazioniModal = document.getElementById('lavorazioniModal')
lavorazioniModal.addEventListener('show.bs.modal', event => {
  // Button that triggered the modal
  const button = event.relatedTarget
  // Extract info from data-bs-* attributes
  const id_commessa = button.getAttribute('data-bs-id_commessa')
  const numero_commessa = button.getAttribute('data-bs-numero_commessa')
  const tmp_dati = button.getAttribute('data-bs-tmp_dati')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  const modalTitle = lavorazioniModal.querySelector('.modal-title')
  const id_form = lavorazioniModal.querySelector('#id_form')
  const in_id_commessa = lavorazioniModal.querySelector('#id_commessa')
  const id_lavorazione = lavorazioniModal.querySelector('#id_lavorazione')
  const data = lavorazioniModal.querySelector('#data')
  const ore = lavorazioniModal.querySelector('#ore')
  const tipo = lavorazioniModal.querySelector('#tipo')
  const trasferta = lavorazioniModal.querySelector('#trasferta')
  in_id_commessa.value = `${id_commessa}`
  if (tmp_dati == "") {
  modalTitle.textContent = `Inserisci ore nella commessa ${numero_commessa}`
  id_form.value = `inserisci_lavorazione`
  id_lavorazione.value = ``
  data.value = ``
  ore.value = ``
  tipo.value = `1`
  trasferta.checked = false

  } else {
  modalTitle.textContent = `Modifica inserimento`
  id_form.value = `modifica_lavorazione`
  id_lavorazione.value = `${JSON.parse(tmp_dati)["id"]}`
  data.value = `${JSON.parse(tmp_dati)["durata"]["data"]}`
  ore.value = `${JSON.parse(tmp_dati)["durata"]["ore"]}`
  tipo.value = `${JSON.parse(tmp_dati)["tipo"]["id"]}`
  trasferta.checked = JSON.parse(tmp_dati)["durata"]["trasferta"]

  }
})

const eliminalavorazioniModal = document.getElementById('eliminalavorazioniModal')
eliminalavorazioniModal.addEventListener('show.bs.modal', event => {
  // Button that triggered the modal
  const button = event.relatedTarget
  // Extract info from data-bs-* attributes
  const id_commessa = button.getAttribute('data-bs-id_commessa')
  const tmp_dati = button.getAttribute('data-bs-tmp_dati')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  const modalTitle = eliminalavorazioniModal.querySelector('.modal-title')
  const in_id_commessa = eliminalavorazioniModal.querySelector('#id_commessa')
  const id_lavorazione = eliminalavorazioniModal.querySelector('#id_lavorazione')
  in_id_commessa.value = `${id_commessa}`
  // modalTitle.textContent = `Elimina`
  id_lavorazione.value = `${JSON.parse(tmp_dati)["id"]}`
})

const commesseModal = document.getElementById('commesseModal')
commesseModal.addEventListener('show.bs.modal', event => {
  // Button that triggered the modal
  const button = event.relatedTarget
  // Extract info from data-bs-* attributes
  const id_commessa = button.getAttribute('data-bs-id_commessa')
  const tmp_dati = button.getAttribute('data-bs-tmp_dati')
  const tipi_lavorazione = JSON.parse('{{ tipi_lavorazione | tojson }}');
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  const modalTitle = commesseModal.querySelector('.modal-title')
  const id_form = commesseModal.querySelector('#id_form')
  const in_id_commessa = commesseModal.querySelector('#id_commessa')
  const nome = commesseModal.querySelector('#nome')
  const cliente = commesseModal.querySelector('#cliente')
  const data = commesseModal.querySelector('#data')
  const ore = commesseModal.querySelector('#ore')
  const euro = commesseModal.querySelector('#euro')
  const project_manager = commesseModal.querySelector('#project_manager')
  const note = commesseModal.querySelector('#note')
  const tipo_altro = commesseModal.querySelector('#tipo_altro')
  in_id_commessa.value = `${id_commessa}`
  if (tmp_dati == "") {
  modalTitle.textContent = `Inserisci nuova commessa`
  id_form.value = `inserisci_commessa`
  nome.value = ``
  cliente.value = `1`
  data.value = ``
  ore.value = ``
  euro.value = ``
  project_manager.value = `1`
  note.value = ``
  console.log(tipi_lavorazione);
  for (let i = 0; i < tipi_lavorazione.length; i++) {
    commesseModal.querySelector('#'+tipi_lavorazione[i][1]).checked = false
  }
  tipo_altro.checked = false

  } else {
  modalTitle.textContent = `Modifica commessa ${JSON.parse(tmp_dati)["numero"]}`
  id_form.value = `modifica_commessa`
  nome.value = `${JSON.parse(tmp_dati)["nome"]}`
  cliente.value = `${JSON.parse(tmp_dati)["cliente"]["id"]}`
  data.value = `${JSON.parse(tmp_dati)["durata"]["inizio"]}`
  ore.value = `${JSON.parse(tmp_dati)["specifiche"]["budget_ore"]}`
  euro.value = `${JSON.parse(tmp_dati)["specifiche"]["budget_euro"]}`
  project_manager.value = `${JSON.parse(tmp_dati)["specifiche"]["project_manager"]["id"]}`
  note.value = `${JSON.parse(tmp_dati)["note"]}`
  const tipologia = JSON.parse(tmp_dati)["specifiche"]["tipologia"]

  for (let i = 0; i < tipi_lavorazione.length; i++) {
    commesseModal.querySelector('#'+tipi_lavorazione[i][1]).checked = false
  }
  tipo_altro.checked = false
  for (let i = 0; i < tipi_lavorazione.length; i++) {
    for (let j = 0; j < tipologia.length; j++) {
      if (tipologia[j]["id"] == tipi_lavorazione[i][0]) {
        commesseModal.querySelector('#'+tipi_lavorazione[i][1]).checked = true
      }
      if (tipologia[j]["id"] == 0) {
        tipo_altro.checked = true
      }
    }
  }

  }
})

const eliminacommesseModal = document.getElementById('eliminacommesseModal')
eliminacommesseModal.addEventListener('show.bs.modal', event => {
  // Button that triggered the modal
  const button = event.relatedTarget
  // Extract info from data-bs-* attributes
  const id_commessa = button.getAttribute('data-bs-id_commessa')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  const modalTitle = eliminacommesseModal.querySelector('.modal-title')
  const in_id_commessa = eliminacommesseModal.querySelector('#id_commessa')
  in_id_commessa.value = `${id_commessa}`
  // modalTitle.textContent = `Elimina`
})

const chiudi_commesseModal = document.getElementById('chiudi_commesseModal')
chiudi_commesseModal.addEventListener('show.bs.modal', event => {
  // Button that triggered the modal
  const button = event.relatedTarget
  // Extract info from data-bs-* attributes
  const id_commessa = button.getAttribute('data-bs-id_commessa')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  const in_id_commessa = chiudi_commesseModal.querySelector('#id_commessa')
  in_id_commessa.value = `${id_commessa}`
})

const collegaOffertaModal = document.getElementById('collegaOffertaModal')
collegaOffertaModal.addEventListener('show.bs.modal', event => {
  const button = event.relatedTarget
  const id_commessa = button.getAttribute('data-bs-id_commessa')

  const modalTitle = collegaOffertaModal.querySelector('.modal-title')
  const in_id_commessa = collegaOffertaModal.querySelector('#id_commessa')
  in_id_commessa.value = `${id_commessa}`
  // modalTitle.textContent = `Elimina`
})

const toastTrigger = document.getElementById('liveToastBtn')
const toastLiveExample = document.getElementById('liveToast')
if (toastTrigger) {
  toastTrigger.addEventListener('click', () => {
    const toast = new bootstrap.Toast(toastLiveExample)

    toast.show()
  })
}
</script>

{% endblock %}
