{% extends "base.html" %}

{% block corpo %}

<h2 class="text-center"><strong>INTERNE ATTIVE</strong></h2>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="my-2 alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
  {% if pagina == "riepilogo" %}
    <button class="nav-link active" id="base-tab" data-bs-toggle="tab" data-bs-target="#base-tab-pane" type="button" role="tab" aria-controls="base-tab-pane" aria-selected="true">Interne Attive</button>
    {% else %}
    <button class="nav-link" id="base-tab" data-bs-toggle="tab" data-bs-target="#base-tab-pane" type="button" role="tab" aria-controls="base-tab-pane" aria-selected="false">Interne Attive</button>
    {% endif %}
  </li>
{% for i in dati %}
  {% if not i["durata"]["fine"] %}
    <li class="nav-item" role="presentation">
    {% if pagina|string == i["id"]|string %}
      <button class="nav-link active" id="{{ i["id"] }}-tab" data-bs-toggle="tab" data-bs-target="#{{ i["id"] }}-tab-pane" type="button" role="tab" aria-controls="{{ i["id"] }}-tab-pane" aria-selected="true">
        {{ i["numero"] }}
      </button>
    {% else %}
      <button class="nav-link" id="{{ i["id"] }}-tab" data-bs-toggle="tab" data-bs-target="#{{ i["id"] }}-tab-pane" type="button" role="tab" aria-controls="{{ i["id"] }}-tab-pane" aria-selected="false">
        {{ i["numero"] }}
      </button>
    {% endif %}
    </li>
  {% endif %}
{% endfor %}
</ul>

<div class="tab-content" id="myTabContent">
  {% if pagina == "riepilogo" %}
  <div class="tab-pane fade show active" id="base-tab-pane" role="tabpanel" aria-labelledby="base-tab" tabindex="0">
  {% else %}
  <div class="tab-pane fade" id="base-tab-pane" role="tabpanel" aria-labelledby="base-tab" tabindex="0">
  {% endif %}

  <div class="row">
    <div class="col-md-10">
      <p class="my-2">
      Qui trovi l'elenco delle commesse interne attive, clicca sul pulsante <strong>Inserisci</strong> per inserire delle ore sulla relativa commessa.
      </p>
    </div>
    <div class="col">
      {% if gestione %}
      <button type="button" class="btn btn-warning btn-sm my-2 float-end" onclick="mostra_filtri()"><span class="material-symbols-outlined">search</span></button>
      {% endif %}
    </div>
  </div>

<div class="table-responsive">
<table class="table" id="commesse_attive">
  <thead>
    <tr>
      <th scope="col">N° Commessa<br><input type="text" class="form-control form-control-sm" id="s_id" onkeyup="f_id()" placeholder=""></th>
      <th scope="col">Nome Commessa<br><input type="text" class="form-control form-control-sm" id="s_nome" onkeyup="f_nome()" placeholder=""></th>
      {% if gestione %}
      <th scope="col">Data apertura<br><input type="text" class="form-control form-control-sm" id="s_data_a" onkeyup="f_data_a()" placeholder=""></th>
      <th scope="col">Costo [€]<br><input type="text" class="form-control form-control-sm" id="s_guadagno" onkeyup="f_guadagno()" placeholder=""></th>
      {% endif %}
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for i in dati %}
    {% if not i["durata"]["fine"] %}
    <tr>
      <td>{{ i["numero"] }}</td>
      <td>{{ i["nome"] }}</td>
      {% if gestione %}
      <td>{{ i["durata"]["inizio"][8:10] }}/{{ i["durata"]["inizio"][5:7] }}/{{ i["durata"]["inizio"][2:4] }}</td>
      <td>{{ i["specifiche"]["euro_spesi"] }}</td>
      {% endif %}
      <td><button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#lavorazioniModal" data-bs-id_commessa="{{ i["id"] }}" data-bs-numero_commessa="{{ i["numero"] }}" data-bs-tmp_dati="">Inserisci ore</button></td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>


<script>
var s_id = document.getElementById("s_id");
var s_nome = document.getElementById("s_nome");
var s_data_a = document.getElementById("s_data_a");
var s_guadagno = document.getElementById("s_guadagno");

s_id.style.display = "none";
s_nome.style.display = "none";
s_data_a.style.display = "none";
s_guadagno.style.display = "none";

function mostra_filtri() {
  var s_id = document.getElementById("s_id");
  var s_nome = document.getElementById("s_nome");
  var s_data_a = document.getElementById("s_data_a");
  var s_guadagno = document.getElementById("s_guadagno");
  if (s_id.style.display === "none") {
    s_id.style.display = "block";
    s_nome.style.display = "block";
    s_data_a.style.display = "block";
    s_guadagno.style.display = "block";
  } else {
    s_id.style.display = "none";
    s_nome.style.display = "none";
    s_data_a.style.display = "none";
    s_guadagno.style.display = "none";
  }
}

function f_id() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("s_id");
  filter = input.value.toUpperCase();
  table = document.getElementById("commesse_attive");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function f_nome() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("s_nome");
  filter = input.value.toUpperCase();
  table = document.getElementById("commesse_attive");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function f_data_a() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("s_data_a");
  filter = input.value.toUpperCase();
  table = document.getElementById("commesse_attive");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[3];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function f_guadagno() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("s_guadagno");
  filter = input.value.toUpperCase();
  table = document.getElementById("commesse_attive");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[7];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

</script>


</div>
  </div>
{% for i in dati %}
  {% if not i["durata"]["fine"] %}
    {% if pagina|string == i["id"]|string %}
    <div class="tab-pane fade show active" id="{{ i["id"] }}-tab-pane" role="tabpanel" aria-labelledby="{{ i["id"] }}-tab" tabindex="0">
    {% else %}
    <div class="tab-pane fade" id="{{ i["id"] }}-tab-pane" role="tabpanel" aria-labelledby="{{ i["id"] }}-tab" tabindex="0">
    {% endif %}
    <h5 class="my-2"><strong>{{ i["nome"] }}</strong>

    {% if gestione %}
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-success btn-sm my-2" data-bs-toggle="modal" data-bs-target="#chiudi_commesseModal" data-bs-id_commessa="{{ i["id"] }}">Chiudi</button>
      <button type="button" class="btn btn-warning btn-sm my-2" data-bs-toggle="modal" data-bs-target="#commesseModal" data-bs-id_commessa="{{ i["id"] }}" data-bs-tmp_dati="{{ i | replace("'", "\"") | replace("False", "false") | replace("True", "true") }}" data-bs-tipi_lavorazione="{{ tipi_lavorazione | replace("'", "\"") }}">Modifica</button>
      <button type="button" class="btn btn-danger btn-sm my-2" data-bs-toggle="modal" data-bs-target="#eliminacommesseModal" data-bs-id_commessa="{{ i["id"] }}">Elimina</button>
    </div>
    {% endif %}

    </h5>
    <div class="row">
      <div class="col">
      <p><strong>Note: </strong>{{ i["note"] }}</p>
      </div>
      <div class="col">

      </div>
    </div>


    <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Data apertura</th>
          {% if gestione %}
          <th scope="col">Costo [€]</th>
          <th scope="col">Ore totali</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ i["durata"]["inizio"][8:10] }}/{{ i["durata"]["inizio"][5:7] }}/{{ i["durata"]["inizio"][0:4] }}</th>
          {% if gestione %}
          <td>{{ i["specifiche"]["euro_spesi"] }}</td>
          <td>{{ i["specifiche"]["ore_lavorate"] }}</td>
          {% endif %}
        </tr>
      </tbody>
    </table>
    </div>

    <hr>

    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#lavorazioniModal" data-bs-id_commessa="{{ i["id"] }}" data-bs-numero_commessa="{{ i["numero"] }}" data-bs-tmp_dati="">Inserisci ore</button>
    <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Data inserimento</th>
          <th scope="col">Collaboratore</th>
          <th scope="col">Ore</th>
          {% if gestione %}
          <th scope="col">Costo</th>
          {% endif %}
          <th scope="col">Azioni</th>
        </tr>
      </thead>
      <tbody>
      {% for y in i["lavorazioni"] %}
        {% if gestione or y["collaboratore"]["id"] == current_user.id %}
        <tr>
          <td>{{ y["durata"]["data"][8:10] }}/{{ y["durata"]["data"][5:7] }}/{{ y["durata"]["data"][0:4] }}</td>
          <td>{{ y["collaboratore"]["nome"] }}
          {% if y["durata"]["trasferta"] %}
          <span class="badge rounded-pill text-bg-info">Trasferta</span>
          {% endif %}
          </td>
          <td>{{ y["durata"]["ore"] }}</td>
          {% if gestione %}
          <td>{{ y["costo"] }}</td>
          {% endif %}
          <td>
          <div class="btn-group" role="group" aria-label="Azioni">
          <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#lavorazioniModal" data-bs-id_commessa="{{ i["id"] }}" data-bs-numero_commessa="{{ i["numero"] }}" data-bs-tmp_dati="{{ y | replace("'", "\"") | replace("False", "false") | replace("True", "true") }}">Modifica</button>
          <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#eliminalavorazioniModal" data-bs-id_commessa="{{ i["id"] }}" data-bs-tmp_dati="{{ y | replace("'", "\"") | replace("False", "false") | replace("True", "true") }}">Elimina</button>
          </div>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    </div>
    </div>
  {% endif %}
{% endfor %}
</div>

<!--Modal per le commesse-->
<div class="modal fade" id="commesseModal" tabindex="-1" aria-labelledby="commesseModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="commesseModalLabel">Inserisci nuova commessa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post">
          <input type="hidden" id="id_form" name="id_form" value="inserisci_commessa">
          <input type="hidden" id="id_commessa" name="id_commessa" value="">
          <div class="mb-3">
            <label for="nome" class="col-form-label"><strong>Nome Commessa</strong></label>
            <input type="text" class="form-control" id="nome" name="nome">
          </div>
          <div class="mb-3">
            <label for="data" class="col-form-label"><strong>Data apertura commessa</strong></label>
            <input type="date" class="form-control" id="data" name="data">
          </div>
          <div class="mb-3">
            <label for="note" class="col-form-label"><strong>Note</strong></label>
            <textarea class="form-control" id="note" name="note" rows="2"></textarea>
            <div id="noteHelp" class="form-text">Campo libero</div>
          </div>
          <button type="submit" class="btn btn-warning btn-sm">Inserisci</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal per chiudere commesse-->
<div class="modal fade" id="chiudi_commesseModal" tabindex="-1" aria-labelledby="chiudi_commesseModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="chiudi_commesseModalLabel">Chiudi commessa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>ATTENZIONE: </strong>Non sarà possibile riaprire una commessa chiusa!</p>
        <form method="post">
          <input type="hidden" id="id_form" name="id_form" value="chiudi_commessa">
          <input type="hidden" id="id_commessa" name="id_commessa" value="">
          <div class="mb-3">
            <label for="data" class="col-form-label"><strong>Data chiusura commessa</strong></label>
            <input type="date" class="form-control" id="data" name="data">
          </div>
          <button type="submit" class="btn btn-success btn-sm">Conferma</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal per le lavorazioni-->
<div class="modal fade" id="lavorazioniModal" tabindex="-1" aria-labelledby="lavorazioniModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="lavorazioniModalLabel">Inserisci</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post">
          <input type="hidden" id="id_form" name="id_form" value="inserisci_lavorazione">
          <input type="hidden" id="id_commessa" name="id_commessa" value="">
          <input type="hidden" id="id_lavorazione" name="id_lavorazione" value="">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Data</label>
            <input type="date" class="form-control" id="data" name="data">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Ore</label>
            <input type="number" inputmode="numeric" step="any" class="form-control" id="ore" name="ore">
            <div id="oreHelp" class="form-text">Inserisci il numero es: "3.5" = 3h e 30min</div>
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="trasferta" id="trasferta" name="trasferta">
              <label class="form-check-label" for="trasferta">Trasferta</label>
            </div>
          </div>
          <button type="submit" class="btn btn-warning btn-sm">Inserisci</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal eliminare lavorazioni-->
<div class="modal fade" id="eliminalavorazioniModal" tabindex="-1" aria-labelledby="eliminalavorazioniModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="eliminalavorazioniModalLabel">Elimina inserimento</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>ATTENZIONE: </strong>Non sarà possibile recuperare i dati eliminati!</p>
        <form method="post">
          <input type="hidden" id="id_form" name="id_form" value="elimina_lavorazione">
          <input type="hidden" id="id_commessa" name="id_commessa" value="">
          <input type="hidden" id="id_lavorazione" name="id_lavorazione" value="">
          <button type="submit" class="btn btn-danger btn-sm">Elimina</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal eliminare commesse-->
<div class="modal fade" id="eliminacommesseModal" tabindex="-1" aria-labelledby="eliminacommesseModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="eliminacommesseModalLabel">Elimina Commessa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>ATTENZIONE: </strong>Non sarà possibile recuperare i dati eliminati!
        <br>
        Continua solo se la Commessa è stata creata per errore.</p>
        <form method="post">
          <input type="hidden" id="id_form" name="id_form" value="elimina_commessa">
          <input type="hidden" id="id_commessa" name="id_commessa" value="">
          <button type="submit" class="btn btn-danger btn-sm">Elimina</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
const lavorazioniModal = document.getElementById('lavorazioniModal')
lavorazioniModal.addEventListener('show.bs.modal', event => {
  const button = event.relatedTarget
  const id_commessa = button.getAttribute('data-bs-id_commessa')
  const numero_commessa = button.getAttribute('data-bs-numero_commessa')
  const tmp_dati = button.getAttribute('data-bs-tmp_dati')
  const modalTitle = lavorazioniModal.querySelector('.modal-title')
  const id_form = lavorazioniModal.querySelector('#id_form')
  const in_id_commessa = lavorazioniModal.querySelector('#id_commessa')
  const id_lavorazione = lavorazioniModal.querySelector('#id_lavorazione')
  const data = lavorazioniModal.querySelector('#data')
  const ore = lavorazioniModal.querySelector('#ore')
  const trasferta = lavorazioniModal.querySelector('#trasferta')
  in_id_commessa.value = `${id_commessa}`
  if (tmp_dati == "") {
  modalTitle.textContent = `Inserisci ore nella commessa ${numero_commessa}`
  id_form.value = `inserisci_lavorazione`
  id_lavorazione.value = ``
  data.value = ``
  ore.value = ``
  trasferta.checked = false

  } else {
  modalTitle.textContent = `Modifica inserimento`
  id_form.value = `modifica_lavorazione`
  id_lavorazione.value = `${JSON.parse(tmp_dati)["id"]}`
  data.value = `${JSON.parse(tmp_dati)["durata"]["data"]}`
  ore.value = `${JSON.parse(tmp_dati)["durata"]["ore"]}`
  trasferta.checked = JSON.parse(tmp_dati)["durata"]["trasferta"]

  }
})

const eliminalavorazioniModal = document.getElementById('eliminalavorazioniModal')
eliminalavorazioniModal.addEventListener('show.bs.modal', event => {
  // Button that triggered the modal
  const button = event.relatedTarget
  // Extract info from data-bs-* attributes
  const id_commessa = button.getAttribute('data-bs-id_commessa')
  const tmp_dati = button.getAttribute('data-bs-tmp_dati')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  const modalTitle = eliminalavorazioniModal.querySelector('.modal-title')
  const in_id_commessa = eliminalavorazioniModal.querySelector('#id_commessa')
  const id_lavorazione = eliminalavorazioniModal.querySelector('#id_lavorazione')
  in_id_commessa.value = `${id_commessa}`
  // modalTitle.textContent = `Elimina`
  id_lavorazione.value = `${JSON.parse(tmp_dati)["id"]}`
})

const commesseModal = document.getElementById('commesseModal')
commesseModal.addEventListener('show.bs.modal', event => {
  // Button that triggered the modal
  const button = event.relatedTarget
  // Extract info from data-bs-* attributes
  const id_commessa = button.getAttribute('data-bs-id_commessa')
  const tmp_dati = button.getAttribute('data-bs-tmp_dati')
  const modalTitle = commesseModal.querySelector('.modal-title')
  const id_form = commesseModal.querySelector('#id_form')
  const in_id_commessa = commesseModal.querySelector('#id_commessa')
  const nome = commesseModal.querySelector('#nome')
  const data = commesseModal.querySelector('#data')
  const note = commesseModal.querySelector('#note')
  in_id_commessa.value = `${id_commessa}`
  if (tmp_dati == "") {
  modalTitle.textContent = `Inserisci nuova commessa`
  id_form.value = `inserisci_commessa`
  nome.value = ``
  data.value = ``
  note.value = ``

  } else {
  modalTitle.textContent = `Modifica commessa ${JSON.parse(tmp_dati)["numero"]}`
  id_form.value = `modifica_commessa`
  nome.value = `${JSON.parse(tmp_dati)["nome"]}`
  data.value = `${JSON.parse(tmp_dati)["durata"]["inizio"]}`
  note.value = `${JSON.parse(tmp_dati)["note"]}`

  }
})

const eliminacommesseModal = document.getElementById('eliminacommesseModal')
eliminacommesseModal.addEventListener('show.bs.modal', event => {
  // Button that triggered the modal
  const button = event.relatedTarget
  // Extract info from data-bs-* attributes
  const id_commessa = button.getAttribute('data-bs-id_commessa')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  const modalTitle = eliminacommesseModal.querySelector('.modal-title')
  const in_id_commessa = eliminacommesseModal.querySelector('#id_commessa')
  in_id_commessa.value = `${id_commessa}`
  // modalTitle.textContent = `Elimina`
})

const chiudi_commesseModal = document.getElementById('chiudi_commesseModal')
chiudi_commesseModal.addEventListener('show.bs.modal', event => {
  // Button that triggered the modal
  const button = event.relatedTarget
  // Extract info from data-bs-* attributes
  const id_commessa = button.getAttribute('data-bs-id_commessa')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  const in_id_commessa = chiudi_commesseModal.querySelector('#id_commessa')
  in_id_commessa.value = `${id_commessa}`
})
</script>

{% endblock %}
