{% extends "base.html" %}

{% block corpo %}

<h2 class="text-center"><strong>OFFERTE</strong></h2>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="my-2 alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

  <div class="row">
    <div class="col-md-10">
    </div>
    <div class="col">
      {% if gestione %}
      <button type="button" class="btn btn-warning btn-sm my-2 float-end" onclick="mostra_filtri()"><span class="material-symbols-outlined">search</span></button>
      {% endif %}
    </div>
  </div>

<div class="table-responsive">
<table class="table" id="commesse_attive">
  <thead>
    <tr>
      <th scope="col">ID Offerta<br><input type="text" class="form-control form-control-sm" id="s_id" onkeyup="f_id()" placeholder=""></th>
      <th scope="col">Cliente<br><input type="text" class="form-control form-control-sm" id="s_cliente" onkeyup="f_cliente()" placeholder=""></th>
      {% if gestione %}
      <th scope="col">Data creazione<br><input type="text" class="form-control form-control-sm" id="s_data_a" onkeyup="f_data_a()" placeholder=""></th>
      <th scope="col">Ordine Riferimento<br><input type="text" class="form-control form-control-sm" id="s_rif_ord" onkeyup="f_rif_ord()" placeholder=""></th>
      {% endif %}
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for i in dati %}
    {% if not i["versioni"]["chiusa"] %}
    <tr>
      <td>{{ i["numero"] }}</td>
      <td>{{ i["cliente"]["nome"] }}</td>
      {% if gestione %}
      <td>{{ i["versioni"]["data"][8:10] }}/{{ i["versioni"]["data"][5:7] }}/{{ i["versioni"]["data"][0:4] }}</td>
      <td>{{ i["ordine_rif"] }}</td>
      {% endif %}
      <td><a type="button" class="btn btn-warning btn-sm" href="{{ url_for("dettaglio_offerta", id_offerta=i["id"]) }}">Dettaglio</a></td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>


<script>
var s_id = document.getElementById("s_id");
var s_cliente = document.getElementById("s_cliente");
var s_data_a = document.getElementById("s_data_a");
var s_budget = document.getElementById("s_rif_ord");

s_id.style.display = "none";
s_cliente.style.display = "none";
s_data_a.style.display = "none";
s_rif_ord.style.display = "none";

function mostra_filtri() {
  var s_id = document.getElementById("s_id");
  var s_cliente = document.getElementById("s_cliente");
  var s_data_a = document.getElementById("s_data_a");
  var s_budget = document.getElementById("s_rif_ord");
  if (s_id.style.display === "none") {
    s_id.style.display = "block";
    s_cliente.style.display = "block";
    s_data_a.style.display = "block";
    s_rif_ord.style.display = "block";
  } else {
    s_id.style.display = "none";
    s_cliente.style.display = "none";
    s_data_a.style.display = "none";
    s_rif_ord.style.display = "none";
  }
}

function f_id() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("s_id");
  filter = input.value.toUpperCase();
  table = document.getElementById("commesse_attive");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function f_cliente() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("s_cliente");
  filter = input.value.toUpperCase();
  table = document.getElementById("commesse_attive");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function f_data_a() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("s_data_a");
  filter = input.value.toUpperCase();
  table = document.getElementById("commesse_attive");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[3];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function f_rif_ord() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("s_rif_ord");
  filter = input.value.toUpperCase();
  table = document.getElementById("commesse_attive");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[6];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

</script>
</div>




<!--Modal per le lavorazioni-->
<div class="modal fade" id="lavorazioniModal" tabindex="-1" aria-labelledby="lavorazioniModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="lavorazioniModalLabel">Inserisci</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post">
          <input type="hidden" id="id_form" name="id_form" value="inserisci_lavorazione">
          <input type="hidden" id="id_commessa" name="id_commessa" value="">
          <input type="hidden" id="id_lavorazione" name="id_lavorazione" value="">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Data</label>
            <input type="date" class="form-control" id="data" name="data">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Ore</label>
            <input type="number" inputmode="numeric" step="any" class="form-control" id="ore" name="ore">
            <div id="oreHelp" class="form-text">Inserisci il numero es: "3.5" = 3h e 30min</div>
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="trasferta" id="trasferta" name="trasferta">
              <label class="form-check-label" for="trasferta">Trasferta</label>
            </div>
          </div>
          <button type="submit" class="btn btn-warning btn-sm">Inserisci</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal eliminare lavorazioni-->
<div class="modal fade" id="eliminalavorazioniModal" tabindex="-1" aria-labelledby="eliminalavorazioniModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="eliminalavorazioniModalLabel">Elimina inserimento</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>ATTENZIONE: </strong>Non sarà possibile recuperare i dati eliminati!</p>
        <form method="post">
          <input type="hidden" id="id_form" name="id_form" value="elimina_lavorazione">
          <input type="hidden" id="id_commessa" name="id_commessa" value="">
          <input type="hidden" id="id_lavorazione" name="id_lavorazione" value="">
          <button type="submit" class="btn btn-danger btn-sm">Elimina</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal eliminare commesse-->
<div class="modal fade" id="eliminacommesseModal" tabindex="-1" aria-labelledby="eliminacommesseModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="eliminacommesseModalLabel">Elimina Commessa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>ATTENZIONE: </strong>Non sarà possibile recuperare i dati eliminati!
        <br>
        Continua solo se la Commessa è stata creata per errore.</p>
        <form method="post">
          <input type="hidden" id="id_form" name="id_form" value="elimina_commessa">
          <input type="hidden" id="id_commessa" name="id_commessa" value="">
          <button type="submit" class="btn btn-danger btn-sm">Elimina</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
const lavorazioniModal = document.getElementById('lavorazioniModal')
lavorazioniModal.addEventListener('show.bs.modal', event => {
  // Button that triggered the modal
  const button = event.relatedTarget
  // Extract info from data-bs-* attributes
  const id_commessa = button.getAttribute('data-bs-id_commessa')
  const numero_commessa = button.getAttribute('data-bs-numero_commessa')
  const tmp_dati = button.getAttribute('data-bs-tmp_dati')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  const modalTitle = lavorazioniModal.querySelector('.modal-title')
  const id_form = lavorazioniModal.querySelector('#id_form')
  const in_id_commessa = lavorazioniModal.querySelector('#id_commessa')
  const id_lavorazione = lavorazioniModal.querySelector('#id_lavorazione')
  const data = lavorazioniModal.querySelector('#data')
  const ore = lavorazioniModal.querySelector('#ore')
  const trasferta = lavorazioniModal.querySelector('#trasferta')
  in_id_commessa.value = `${id_commessa}`
  if (tmp_dati == "") {
  modalTitle.textContent = `Inserisci ore sull'offerta ${numero_commessa}`
  id_form.value = `inserisci_lavorazione`
  id_lavorazione.value = ``
  data.value = ``
  ore.value = ``
  trasferta.checked = false

  } else {
  modalTitle.textContent = `Modifica inserimento`
  id_form.value = `modifica_lavorazione`
  id_lavorazione.value = `${JSON.parse(tmp_dati)["id"]}`
  data.value = `${JSON.parse(tmp_dati)["durata"]["data"]}`
  ore.value = `${JSON.parse(tmp_dati)["durata"]["ore"]}`
  tipo.value = `${JSON.parse(tmp_dati)["tipo"]["id"]}`
  trasferta.checked = JSON.parse(tmp_dati)["durata"]["trasferta"]

  }
})

const eliminalavorazioniModal = document.getElementById('eliminalavorazioniModal')
eliminalavorazioniModal.addEventListener('show.bs.modal', event => {
  // Button that triggered the modal
  const button = event.relatedTarget
  // Extract info from data-bs-* attributes
  const id_commessa = button.getAttribute('data-bs-id_commessa')
  const tmp_dati = button.getAttribute('data-bs-tmp_dati')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  const modalTitle = eliminalavorazioniModal.querySelector('.modal-title')
  const in_id_commessa = eliminalavorazioniModal.querySelector('#id_commessa')
  const id_lavorazione = eliminalavorazioniModal.querySelector('#id_lavorazione')
  in_id_commessa.value = `${id_commessa}`
  // modalTitle.textContent = `Elimina`
  id_lavorazione.value = `${JSON.parse(tmp_dati)["id"]}`
})


const eliminacommesseModal = document.getElementById('eliminacommesseModal')
eliminacommesseModal.addEventListener('show.bs.modal', event => {
  // Button that triggered the modal
  const button = event.relatedTarget
  // Extract info from data-bs-* attributes
  const id_commessa = button.getAttribute('data-bs-id_commessa')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  const modalTitle = eliminacommesseModal.querySelector('.modal-title')
  const in_id_commessa = eliminacommesseModal.querySelector('#id_commessa')
  in_id_commessa.value = `${id_commessa}`
  // modalTitle.textContent = `Elimina`
})

const chiudi_commesseModal = document.getElementById('chiudi_commesseModal')
chiudi_commesseModal.addEventListener('show.bs.modal', event => {
  // Button that triggered the modal
  const button = event.relatedTarget
  // Extract info from data-bs-* attributes
  const id_commessa = button.getAttribute('data-bs-id_commessa')
  // If necessary, you could initiate an AJAX request here
  // and then do the updating in a callback.
  //
  // Update the modal's content.
  const in_id_commessa = chiudi_commesseModal.querySelector('#id_commessa')
  in_id_commessa.value = `${id_commessa}`
})

</script>

{% endblock %}
