{% extends "base.html" %}

{% block menu %}
<ul class="nav flex-column">
  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
    <span>Commesse</span>
  </h6>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for("dashboard") }}">
      Attive
    </a>
  </li>
  {% if gestione %}
  <li class="nav-item">
    <a class="nav-link active" aria-current="page"  href="{{ url_for("storico") }}">
      Storico
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for("nuova_commessa") }}">
      Nuova Commessa
    </a>
  </li>
  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
    <span>Amministrazione</span>
  </h6>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for("collaboratori") }}">
      Collaboratori
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for("clienti") }}">
      Clienti
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for("report") }}">
      Report
    </a>
  </li>
  {% endif %}
  <hr>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for("account") }}">
      Account
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for("logout") }}">
      Logout
    </a>
  </li>
</ul>
{% endblock %}

{% block corpo %}

<h2><strong>Storico commesse</strong></h2>

<nav aria-label="Page navigation example">
  <ul class="pagination pagination-sm justify-content-end">
    {% if not anno %}
    <li class="page-item active"><a class="page-link" href="{{ url_for("storico") }}">Tutti</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="{{ url_for("storico") }}">Tutti</a></li>
    {% endif %}
    {% for i in anni %}
    {% if i == anno %}
    <li class="page-item active"><a class="page-link" href="{{ url_for("storico_anno", anno=i) }}">{{ i }}</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="{{ url_for("storico_anno", anno=i) }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>

<div class="table-responsive">
<table class="table" id="storico">
  <thead>
    <tr>
      <th scope="col">N° Commessa<br><input type="text" class="form-control form-control-sm" id="s_id" onkeyup="f_id()" placeholder=""></th>
      <th scope="col">Nome<br><input type="text" class="form-control form-control-sm" id="s_nome" onkeyup="f_nome()" placeholder=""></th>
      <th scope="col">Cliente<br><input type="text" class="form-control form-control-sm" id="s_cliente" onkeyup="f_cliente()" placeholder=""></th>
      <th scope="col">Data apertura<br><input type="text" class="form-control form-control-sm" id="s_data_a" onkeyup="f_data_a()" placeholder=""></th>
      <th scope="col">Data chiusura<br><input type="text" class="form-control form-control-sm" id="s_data_c" onkeyup="f_data_c()" placeholder=""></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for i in dati %}
    {% if i["durata"]["fine"] %}
    {% if not anno or i["durata"]["inizio"][0:4] == anno %}
    <tr>
      <td><strong>{{ i["numero"] }}</strong></td>
      <td>{{ i["nome"] }}</td>
      <td>{{ i["cliente"]["nome"] }}</td>
      <td>{{ i["durata"]["inizio"][8:10] }}/{{ i["durata"]["inizio"][5:7] }}/{{ i["durata"]["inizio"][0:4] }}</td>
      <td>{{ i["durata"]["fine"][8:10] }}/{{ i["durata"]["fine"][5:7] }}/{{ i["durata"]["fine"][0:4] }}</td>
      <td><a type="button" class="btn btn-warning btn-sm" href="{{ url_for("dettaglio_storico", id_commessa=i["id"]) }}">Dettaglio</a></td>
    </tr>
    {% endif %}
    {% endif %}
    {% endfor %}
  </tbody>
</table>

<script>
function f_id() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("s_id");
  filter = input.value.toUpperCase();
  table = document.getElementById("storico");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function f_nome() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("s_nome");
  filter = input.value.toUpperCase();
  table = document.getElementById("storico");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function f_cliente() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("s_cliente");
  filter = input.value.toUpperCase();
  table = document.getElementById("storico");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function f_data_a() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("s_data_a");
  filter = input.value.toUpperCase();
  table = document.getElementById("storico");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[3];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function f_data_c() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("s_data_c");
  filter = input.value.toUpperCase();
  table = document.getElementById("storico");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[4];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>


</div>
{% endblock %}
