{% extends "base.html" %}

{% block menu %}
<ul class="nav flex-column">
  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
    <span>Commesse</span>
  </h6>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for("dashboard") }}">
      Attive
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page"  href="{{ url_for("storico") }}">
      Storico
    </a>
  </li>
  {% if gestione %}
  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
    <span>Amministrazione</span>
  </h6>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for("collaboratori") }}">
      Collaboratori
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="">
      Clienti
    </a>
  </li>
  {% endif %}
  <hr>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for("account") }}">
      Account
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for("logout") }}">
      Logout
    </a>
  </li>
</ul>
{% endblock %}

{% block corpo %}

<h2><strong>Storico commesse</strong></h2>

<div class="table-responsive">
<table class="table" id="storico">
  <thead>
    <tr>
      <th scope="col">ID Commessa<br><input type="text" class="form-control" id="s_id" onkeyup="f_id()" placeholder=""></th>
      <th scope="col">Cliente<br><input type="text" class="form-control" id="s_cliente" onkeyup="f_cliente()" placeholder=""></th>
      <th scope="col">Nome<br><input type="text" class="form-control" id="s_nome" onkeyup="f_nome()" placeholder=""></th>
      <th scope="col">Data apertura<br><input type="text" class="form-control" id="s_data_a" onkeyup="f_data_a()" placeholder=""></th>
      <th scope="col">Data chiusura<br><input type="text" class="form-control" id="s_data_c" onkeyup="f_data_c()" placeholder=""></th>
      <th scope="col">Ore lavorate<br><input type="text" class="form-control" id="s_ore" onkeyup="f_ore()" placeholder=""></th>
      <th scope="col">Budget [€]<br><input type="text" class="form-control" id="s_budget" onkeyup="f_budget()" placeholder=""></th>
      <th scope="col">Guadagno [€]<br><input type="text" class="form-control" id="s_guadagno" onkeyup="f_guadagno()" placeholder=""></th>
      <th scope="col">Azioni</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>#0002</td>
      <td>Dromont</td>
      <td></td>
      <td>21/02/2023</td>
      <td>24/04/2023</td>
      <td>20</td>
      <td>5000</td>
      <td>8000</td>
      <td><a href="">Dettaglio</a></td>
    </tr>
    <tr>
      <td>#0003</td>
      <td>ST-Agrate</td>
      <td></td>
      <td>21/03/2023</td>
      <td>24/05/2023</td>
      <td>18</td>
      <td>2000</td>
      <td>1000</td>
      <td><a href="">Dettaglio</a></td>
    </tr>
    <tr>
      <td>#000A</td>
      <td></td>
      <td>Offerte</td>
      <td>19/02/2023</td>
      <td>28/04/2023</td>
      <td>15</td>
      <td>4000</td>
      <td>7000</td>
      <td><a href="">Dettaglio</a></td>
    </tr>
  </tbody>
</table>


<script>

function f_id() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("s_id");
  filter = input.value.toUpperCase();
  table = document.getElementById("storico");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function f_cliente() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("s_cliente");
  filter = input.value.toUpperCase();
  table = document.getElementById("storico");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function f_nome() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("s_nome");
  filter = input.value.toUpperCase();
  table = document.getElementById("storico");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function f_data_a() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("s_data_a");
  filter = input.value.toUpperCase();
  table = document.getElementById("storico");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[3];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function f_data_c() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("s_data_c");
  filter = input.value.toUpperCase();
  table = document.getElementById("storico");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[4];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function f_ore() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("s_ore");
  filter = input.value.toUpperCase();
  table = document.getElementById("storico");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[5];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function f_budget() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("s_budget");
  filter = input.value.toUpperCase();
  table = document.getElementById("storico");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[6];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function f_guadagno() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("s_guadagno");
  filter = input.value.toUpperCase();
  table = document.getElementById("storico");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[7];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

</script>


</div>
{% endblock %}
