{% extends "base.html" %}

{% block corpo %}

<h2 class="text-center"><strong>GESTIONE DATABASE</strong></h2>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="my-4 alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for("collaboratori") }}">Collaboratori e Manager</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for("clienti") }}">Clienti</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ url_for("tipologie") }}">Tipi Commesse</a>
  </li>
</ul>

<!-- Button trigger modal -->
<button type="button" class="btn btn-warning btn-sm my-2" data-bs-toggle="modal" data-bs-target="#tipologieModal">Nuova Tipologia</button>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Azioni</th>
    </tr>
  </thead>
  <tbody>
    {% for i in tipi_lavorazione %}
    <tr>
      <td>{{ i[0] }}</td>
      <td>{{ i[2] }}</td>
      <td>
        <div class="btn-group" role="group" aria-label="Azioni">
          <button type="button" class="btn btn-warning btn-sm disabled">Modifica</button>
          <button type="button" class="btn btn-danger btn-sm disabled">Elimina</button>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<!--Modal per le tipologie-->
<div class="modal fade" id="tipologieModal" tabindex="-1" aria-labelledby="tipologieModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="tipologieModalLabel">Inserisci</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post">
          <input type="hidden" id="id_form" name="id_form" value="inserisci_tipologia">
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome">
          </div>
          <button type="submit" class="btn btn-warning btn-sm">Inserisci</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
